`<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-1024, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% for i in range(1 ,culture_count) %}
      <h2>{{world["cultures"][i].name}}</h2>
      <h3>Spirituallty</h3>
      {% for religion in world["religions"]%} {% if religion.culture == i %}
      <article class="a-religions">
        <a href="{{world_name}}/religion/{{religion.i}}">
          <content
            >{{religion.deity}} - {{religion.name}} - {{religion.type}} - {{
            religion.form}}</content
          >
        </a>
      </article>
      {% endif %} {% endfor %}
      <h3>States</h3>
      {% for state in world["states"]%} {% if state.culture == i %}
      <article class="a-state">
        <a href="{{world_name}}/state/{{state.i}}">
          <content>
            {{state.fullName}} - {{state.type}} - {{state.form}} {% for burg in
            world["burgs"]%} {% endfor%}
          </content>
        </a>
      </article>
      {% endif %} {% endfor %} {% endfor %}
    </div>
  </body>
</html>
